@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Outfit:wght@400;700&display=swap');

/*General*/
body{
    font-family: 'Inter' sans-serif;
    font-size: 1rem;
    background-image: url(/assets/img/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin:  2rem;
    line-height: 1.5rem;
    color: rgb(246, 242, 242);
}

header img {
    width: 70%;
    margin-bottom: 2rem;
}

h1, h2, h3 {
    font-family: 'Outfit' sans-serif;
    margin-bottom: 1rem;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

h2 {
    font-size: 1.7rem;
}

p {
    margin-bottom: 1.2rem;
}

.boldText {
    font-weight: bold;
}

.pinkText {
    color: #d20094;
}

.blueText {
    color: #00FFFF;
}

.tooltip{
    display: none;
    background-color: rgb(232, 13, 13);
    font-size: 1rem;
    text-align: center;
    margin: 0.5rem 
}

/*section Welcome*/
#welcome {
    text-align: center;
}

ul li {
    margin-bottom: 1rem;
}

/*section benchmark*/
#benchmark {
    text-align: center;
    margin-top: 3.5rem;
}

#currentQuestion {
    font-size: 1.2rem;
    height: 15svh;
}
#answersContainer {
    height: 10svh;
    margin-bottom: 1rem;
}

/*Timer*/

#timer {
    display: flex;
    position: absolute;
    right: calc((40vw - 7rem) / 2);
    top: calc((30vh - 7rem) / 2);
    background-color: transparent;
    width: 5rem; 
    height: 5rem; 
    margin-bottom: 2rem;
}

#timerCircle {
    display: flex;
    background-color: #00FFFF;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

#rotateTimerCircle {
    display: flex;
    flex-direction: column;
    background-color: rgb(11,12,45);
    width: 80%;
    height: 80%;
    border-radius: 50%;
    transform: translate(13%, 12%);
}

.timerText {
    display: none;
}

#timerNumber {
    font-size: 2.5rem;
    text-align: center;
    margin-top: 1.2rem;
}

/* Cakegraph */

#cakeGraph {
    display: flex;
    background-color: transparent;
    width: 80vw;
    height: 80vw;
    max-width: 20rem;
    max-height: 20rem;
    margin-bottom: 2rem;

}

#circle {
    display: flex;
    background-color: #00FFFF;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

#rotateCircle {
    display: flex;
    flex-direction: column;
    background-color: rgb(11,12,45);
    width: 75%;
    height: 75%;
    border-radius: 50%;
    transform: translate(17%, 17%);
}

#resultBenchmark, #subResultBenchmark, #emailResultBenchmark {
    text-align: center;
    margin: 0.5rem;
    margin-top: 2rem;
}

#emailResultBenchmark {
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.671);
}

/* Section Result*/

#result {
    text-align: center;
    line-height: 0.8rem;
}

#correctAnswers, #wrongAnswers {
    font-size: 1.5rem;
}

#correctAnswersPercentage, #wrongAnswersPercentage {
    font-weight: bold;
    font-size: 2rem;
}

#correctAnswersIndex, #wrongAnswersIndex {
    font-size: 1rem;
}

/* section Feedback */

#feedback {
    text-align: center;
}

.star {
    width: 1.3rem;
    margin-bottom: 1rem;
}

@media screen and (min-width:400px) {
    #cakeGraph {
        margin-left: calc((100vw - 24rem) / 2);
    }
    
}

@media screen and (min-width:870px) {
    #resultsBox {
        display: flex;
        align-items: center;
        margin-bottom: 4rem;
        margin-left: calc((100vw - 50rem) / 2);
    }

    #cakeGraph {
       margin: 0;
       max-width: 25rem;
       max-height: 25rem;

    }

    #correctAnswers {
        margin-right: 5rem;
    }

    #wrongAnswers {
        margin-left: 5rem;
    }


}